.whythis-container {
  padding: clamp(30px, 6vw, 60px) clamp(12px, 4vw, 20px);
}

/* GRID */
.whythis-grid {
  /* background-image: url("/public/assets/images/background/whyus.jpg"); */
  background-image: url("/public/assets/images/banner/bnr1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.whythis-card {
  position: relative;
  padding: clamp(15px, 1.2vw, 25px);
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  overflow: hidden;
  width: max-content;
}

.whythis-title {
  margin: 10px;
  color: goldenrod;
  font-size: clamp(14px, 1.5vw, 25px);
  font-weight: 600;
  position: relative;
  z-index: 2;
  text-align: right;
}
.step-animate {
  /* opacity: 0;
  transform: translateX(-30px);
  animation: stepReveal 0.7s ease-out forwards; */
  animation: stepReveal 4s ease-in-out infinite;
}

/* @keyframes stepReveal {
  to {
    opacity: 1;
    border-bottom: 1px solid white;
    transform: translateX(0);
  }
} */
@keyframes stepReveal {
  0% {
    opacity: 1;
    transform: translateX(clamp(10px, 1vw, 30px)); 
     border-bottom: 1px solid white;
  }

  50% {
    opacity: 0;
    transform: translateX(0);
  border-bottom: 1px solid transparent;
  }

  100% {
    opacity: 1;
    transform: translateX(clamp(-10px, -1vw, -30px)); 
    border-bottom: 1px solid white;
  }
}
.whythis-card::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, #8e2de2, #eb0a3e);
  transform: scaleY(0);
  transform-origin: top;
  animation: borderGrow 0.6s ease-out forwards;
  animation-delay: inherit;
}

@keyframes borderGrow {
  to {
    transform: scaleY(1);
  }
}

@media (max-width: 768px) {
  .whythis-grid {
    align-items: center;
    text-align: center;
  }

  .whythis-card {
    width: 100%;
  }
}
