
.mit-images {
  display: flex;
  gap: clamp(15px, 3vw, 40px);
  justify-content: center;
  flex-wrap: wrap;
}

.mit-image-wrapper {
  flex: 1 1 clamp(280px, 40%, 500px);
}

.mit-image-wrapper img {
  width: 100%;
  height: clamp(220px, 20vw, 400px);
  object-fit: cover;
}


@media (max-width: 768px) {
  .mit-images {
    flex-direction: column;
    align-items: center;
  }

  .mit-image-wrapper {
    width: 100%;
  }
}
