
.vishwaraj-wrapper {
  position: relative;
  padding-bottom: 20%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

/* Layout */
.studio-content {
  display: flex;
  padding:  clamp(12px, 3vw, 20px);
}

.studio-section {
  position: relative;
  padding: 0 clamp(10px, 2vw, 40px);
  max-width: 70%;
}

#studio-btn {
  margin-left: auto;
  display: inline-block;
}

.studio-text {
  color: white;
}

.size {
  position: absolute;
  font-size: clamp(11.5px, 1.2vw, 20px);
  bottom: clamp(1px, 2vw, 10px);
  right: clamp(10px, 2vw, 50px);
  font-style: italic;
  font-weight: 600;
  color: goldenrod;
}

@media (max-width: 768px) {
  .vishwaraj-wrapper {
    padding-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.7); 
  }

  .studio-text {
    margin: 0;
  }
}
