/* Container */
.events-container {
  max-width: clamp(350px, 90vw, 1200px);
  margin: 0 auto;
  padding: clamp(30px, 6vw, 60px) 0;
}

/* Vertical list */
.events-grid {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 5vw, 50px);
}

/* Card */
.event-card {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: clamp(35%, 40vw, 40%) clamp(60%, 60vw, 65%);
  min-height: clamp(150px, 25vw, 220px);
}

/* Left image section */
.event-left {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Right content */
.event-right {
  text-align: left;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgba(228, 227, 227, 0.75) 0%,
    whitesmoke 100%
  );
  padding: clamp(10px, 1vw, 20px);
  display: flex;
}

@media (max-width: 768px) {
  .event-card {
    grid-template-columns: 1fr;
  }

  .event-left {
    min-height: clamp(100px, 45vw, 150px);
  }
}
