.vs-bottom {
  margin-top: clamp(10px, 2vw, 50px);
}
/* underline */
.card-hg::after {
  content: "";
  display: block;
  width: 90%;
  height: 1.2px;
  background-color: #520c17;
  margin: 10px auto;
}

.vs-top{
  background-color: #520c17;
  padding: 10px;
}
.vs-title {
  font-size: clamp(14px, 1.2vw, 22px);
  font-weight: 600;
  margin: 10px;
  color: goldenrod;
  text-transform: uppercase;

}

.ld-card {
  background-color: #520c17;
  border: 1px solid whitesmoke;
  border-radius: 0px;
  padding: clamp(11px, 1.2vw, 16px);
  transition: all 0.3s ease-in-out;
}

.ld-card:hover {
  transform: translateY(-5px);
}

.card-link-btn {
  text-decoration: none;
  font-size: clamp(11px, 1.2vw, 16px);
  color: white;
}
