/* SECTION */
.mentor-section {
  width: 90%;
  margin: 0 auto;
  padding: clamp(10px, 2vw, 30px);
}

/* MAIN LAYOUT */
.mentor-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mentor-left,
.mentor-right {
  width: 50%;
}

/* LEFT SIDE */
.mentor-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.mentor-img {
  width: clamp(280px, 30vw, 320px);
  height: auto;
  border-radius: clamp(10px, 1vw, 20px);
}

.mentor-bottom {
  width: 110%;
  display: flex;
  align-items: flex-start; 
  gap: clamp(12px, 2vw, 20px);
}

.mentor-icon{
  width: clamp(100px, 10vw, 150px);
  height: auto;
  flex-shrink: 0;
} 

.mentor-paragraph{
  font-style: italic;
  color: rgb(121, 119, 119);
}
/* RIGHT SIDE */
.mentor-right {
  display: flex;
  flex-direction: column;
}

.mentor-message {
  text-align: center;
  font-style: italic;
  color: #F28C28;
  font-weight: 600;
}

/* IMAGE GRID */
.image-section {
  width: 100%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(0px, 1vw, 0px);
  transition: gap 0.4s ease;
  max-width: clamp(500px, 90%, 1000px);
  margin: 0 auto;
}

.image-grid img {
  width: 100%;
  height: clamp(150px, 25vw, 280px);
  object-fit: cover;
  transition:
    transform 0.4s ease,
    border-radius 0.4s ease,
    border 0.4s ease;
  cursor: pointer;
}

.image-grid img:focus {
  outline: 3px solid #f9be08;
  outline-offset: 3px;
}

.image-grid:hover {
  gap: clamp(10px, 3vw, 25px);
}

.image-grid:hover img {
  border: none;
}

.image-grid img:hover {
  transform: scale(1.03);
}

/* MOBILE RESPONSIVE */

@media (max-width: 780px) {
  .mentor-content {
    flex-direction: column;
  }

  .mentor-left,
  .mentor-right {
    width: 100%;
  }

}
